%a.btn.btn-primary{href: "/diagram"}
  New Diagram
-diagrams.each do |diagram|
  .diagram
    %a{href: url_for("/diagram/#{diagram.id}")}
      =diagram.title || "untitled"
    %span
      last edited #{diagram.updated_at || diagram.created_at}
